<footer _ngcontent-lbh-c72="" class="footer">
  <div _ngcontent-lbh-c72="" class="container">
    <!---->
    <div _ngcontent-lbh-c72="" class="row">
      <div _ngcontent-lbh-c72="" class="col-md-10 col-lg-7 mb-4 mb-lg-0 mb-5 mb-lg-0">
        <h4 _ngcontent-lbh-c72="" class="color-white lh-3 heading-4">About Webicoun India</h4>
        <p _ngcontent-lbh-c72="" class="color-7" style="font-size: 1rem;"> Webicoun is a health-tech organization
          focusing on Emotional, Mental and Physical wellness through Webinars and Counselling. We aim at solving any
          type of challenges/problems faced by an individual so that these problems do not accumulate and become a major
          problem in long run. </p><a _ngcontent-lbh-c72="" href="https://www.facebook.com/Webicounindia/"
          target="_blank" class="mr-3 mt-3"><img _ngcontent-lbh-c72="" src="../../assets/facebook.png" alt=""
            style="width: 50px;"></a><a _ngcontent-lbh-c72=""
          href="https://instagram.com/webicoun_india?igshid=st7ddh5y4lpd" target="_blank" class="mr-3 mt-3"><img
            _ngcontent-lbh-c72="" src="../../assets/insta.png" alt="" style="width: 50px;"></a><a _ngcontent-lbh-c72=""
          href="https://twitter.com/webicoun" target="_blank" class="mr-3 mt-3"><img _ngcontent-lbh-c72=""
            src="../../assets/twitter.png" alt="" style="width: 50px;"></a><a _ngcontent-lbh-c72=""
          href="https://www.youtube.com/channel/UClDf3yqwPdvDl2f1uN9hI2g" target="_blank" class="mr-3 mt-3"><img
            _ngcontent-lbh-c72="" src="../../assets/youtube.png" alt="" style="width: 50px;"></a>
      </div>
      <div _ngcontent-lbh-c72="" class="w-md-100 d-lg-none"></div>
      <div _ngcontent-lbh-c72="" class="col-md-auto col-lg-3 offset-lg-1">
        <div _ngcontent-lbh-c72="" class="row mt-3">
          <div _ngcontent-lbh-c72="" class="col-auto pr-5">
            <h6 _ngcontent-lbh-c72="" class="color-11 fs-0 mb-3">About</h6>
            <ul _ngcontent-lbh-c72="" class="bullet-none pl-0">
              <li _ngcontent-lbh-c72=""><a _ngcontent-lbh-c72="" routerlink="/contactus" class="color-7"
                  href="/contactus">Contact Us</a></li>
              <li _ngcontent-lbh-c72="" class="mt-1"><a _ngcontent-lbh-c72="" routerlink="/blog" class="color-7"
                  href="/blog">Blogs</a></li>
              <li _ngcontent-lbh-c72="" class="mt-1"><a _ngcontent-lbh-c72="" routerlink="/expert-sign-in"
                  class="color-7" href="/expert-sign-in">Login As Expert</a></li>
            </ul>
          </div>
          <div _ngcontent-lbh-c72="" class="col-auto">
            <h6 _ngcontent-lbh-c72="" class="color-11 fs-0 mb-3">Account</h6>
            <ul _ngcontent-lbh-c72="" class="bullet-none pl-0">
              <li _ngcontent-lbh-c72="" class="mt-1"><a _ngcontent-lbh-c72="" routerlink="/faq" class="color-7"
                  href="/faq">FAQ</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div _ngcontent-lbh-c72="" class="row mt-6">
      <div _ngcontent-lbh-c72="" class="col"><span _ngcontent-lbh-c72="" class="color-6"> Webicoun India © 2020. All
          Rights Reserved </span><br _ngcontent-lbh-c72=""><a _ngcontent-lbh-c72="" routerlink="/booksection"
          class="color-7 mx-3" href="/booksection"><u _ngcontent-lbh-c72="">Terms &amp; Conditions</u></a><a
          _ngcontent-lbh-c72="" routerlink="/policy" class="color-7" href="/policy"><u _ngcontent-lbh-c72="">Privacy
            Policy</u></a></div>
    </div>
  </div>
</footer>
